#Blog{
  .row{margin-bottom:1rem;}
  .BlogAudio{
    .speaker{
      display:inline-block;max-width:46px;max-height:46px;border:3px solid #fff;border-radius:50%;box-shadow:0 0 8px rgba(0,0,0,0.5);margin-right:1rem;vertical-align:top;transition:0.25s;
      &:hover{transform:scale(1.5);}
    }
  }
}
