$thumbColor:#343a40;
$thumbFocusColor:#ffc107;
$trackColor:rgba(0,0,0,0.15);

.Player{
  width:100%;min-height:75px;padding:.75rem 1.25rem;margin-bottom:1rem;
  input,
  label{height:43px;line-height:33px;vertical-align:middle;padding-top:8px;}
  .player-progress{
    *{float:left;}
    input{width:70%;}
    label{margin-left:5%;width:25%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
  }
  .player-control{border-radius:50%!important;}
  .player-art{max-width:65px;max-height:65px;margin:-7.5px 0;}
  .player-info{
    margin:0 15px 0 -15px;line-height:1.5rem;vertical-align:middle;
    p{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-weight:700;}
    small{display:block;font-style:italic;opacity:0.8;}
  }
  .player-empty{
    p{line-height:43px;margin:0;}
  }
  .Loading{padding:0;}
}
nav+.Player{margin-top:-1rem;}
input[type="range"]{
  &::-webkit-slider-thumb{background:$thumbColor;}
  &::-moz-range-thumb{background:$thumbColor;}
  &::-ms-thumb{background:$thumbColor;}
  &:focus::-webkit-slider-thumb{background:$thumbFocusColor;}
  &:focus::-ms-thumb{background:$thumbFocusColor;}
  &::-webkit-slider-runnable-track{background:$trackColor;}
  &::-moz-range-track{background:$trackColor;}
  &::-ms-track{background:$trackColor;}
}
